{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    <div class="mx-auto card my-2" style=" width: 100%; max-width: 850px;">
        <div class="card-body">
            {% if id is not defined %}
                <h5 class="card-title border-bottom pb-2 mb-3">Dodaj nową grupę zadań</h5>
            {% else %}
                <h5 class="card-title border-bottom pb-2 mb-3">Edycja grupy ID: {{ id }} </h5>
            {% endif %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    <script>
        document.getElementById('task_back').addEventListener('click', function() {
            window.location.href = '{{ path('app_task_show_list') }}'
        });
    </script>

{% endblock %}

{% block title %}

{% endblock %}

