{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

    {{ parent() }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>
        Task list!
    </h1>
    <p>
        <a href="{{ path('app_task_new') }}">Add new task</a> |
        <a href="{{ path('app_task_category_new') }}">Add new category</a>
        <a href="{{ path('app_task_category_show_list') }}">Category list</a>
    </p>
    <form action="{{ path('app_task_checkbox_test') }}" method="post">
        <input type="text" name="group_action_name" id="group_action_name" value="">
        <table style="width: 800px;">
            {% for task in tasks %}
            <tr>
                <td><input type="checkbox" name="task[]" value="{{ task.id }}"></td>
                <td>{{ task.id }}</td>
                <td>{{ task.task }}</td>
                <td>{{ task.dueDate|date("Y-m-d") }}</td>
                <td>
                    <a href="{{ path('app_task_edit', {id: task.id}) }}">edit</a> |
                    <a href="{{ path('app_task_remove', {id: task.id}) }}" class="text-danger">usuń</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" id="btn_group_action_delete" class="btn btn-danger">Usuń</button>
        <button type="submit" id="btn_group_action_done" class="btn btn-primary">Wykonane</button>
    </form>

</div>

    <div id="toast">aaaaaaaaa</div>

<script>

function doGroupAction(event, type_action) {

    const task_checkboxes = document.querySelectorAll('input[name="task[]"]:checked')

    if (task_checkboxes.length === 0) {
        alert('Zaznacz przynajmniej jedno zadanie');
        event.preventDefault()

    } else {
        document.getElementById('group_action_name').value = type_action
    }

}

document.getElementById('btn_group_action_delete').addEventListener('click', function(event) {
    doGroupAction(event, 'delete')
});
document.getElementById('btn_group_action_done').addEventListener('click', function(event) {
    doGroupAction(event, 'done')
});
</script>

{% endblock %}
