{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}


<div class="b-example-divider b-example-vr"></div>


<div class="d-flex flex-column align-items-stretch flex-shrink-0 overflow-auto" style="width: 780px; padding: 15px;">

    {# read and display several types of flash messages #}
    {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    <div class="border-bottom d-flex align-items-center p-3 mb-2">
        <div class="fs-5 fw-semibold me-auto">Lista zadań</div>

        <div class="btn-group">
            <a href="{{ path('app_task_new') }}" class="btn btn-primary active" aria-current="page">New task</a>
            <a href="{{ path('app_task_category_new') }}" class="btn btn-primary">New category</a>
            <a href="{{ path('app_task_category_show_list') }}" class="btn btn-primary">Category list</a>
        </div>
    </div>

    {{ form_start(formTaskSearch, {'action': path('app_task_search'), 'method': 'get'}) }}
    {# <form action="{{ path('app_task_search') }}" method="get"> #}
    <div class="card">

        <div class="card-header">
            Znajdź zadanie
        </div>

        <div class="card-body" style="background: #f7f7f7;">

            <div class="input-group mb-3">
                {{ form_widget(formTaskSearch.title, {'attr': {'placeholder':'Znajdź zadanie', 'value': search_phraze, 'name':'search_phraze', 'aria-label': 'Task title','aria-describedby': 'button-addon2' }}) }}
                {#
                    value vs data?
                <input type="search"
                       class="form-control"
                       name="QQQsearch_phraze"
                       value="{{ search_phraze }}"
                       aria-label="Recipient's username"
                       aria-describedby="button-addon2"> #}

                <button type="submit" class="btn btn-outline-primary" id="button-addon2">Szukaj</button>
                <button class="btn btn-outline-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Zaawansowana</button>
            </div>
            <div class="small text-secondary">
                <input type="checkbox" name="search_in_description" id="search_in_description" value="1" {% if search_in_description == 1 %}checked{% endif %}>
                <label for="search_in_description">Szukaj też w opisie</label>
            </div>

            <div class="collapse" id="collapseExample">
                {{ form_widget(formTaskSearch.dueDateFrom, {'attr': {'placeholder':'Znajdź zadanie', 'value': '05.11.2022', 'data':'06.11.2022', 'name':'search_phraze' }}) }}

                <hr color="red">


                {{ form_rest(formTaskSearch) }}
            </div>

        </div>
    </div>
    {{ form_end(formTaskSearch) }}


    <form action="{{ path('app_task_group_action') }}" method="post">
        <input type="hidden" name="group_action_name" id="group_action_name" value="">

        <div class="list-group list-group-flush border-bottom scrollarea">
            <table>
                {% for task in tasks %}
                    <tr>
                        <td><input type="checkbox" name="task[]" value="{{ task.id }}"></td>
                        <td>{{ task.id }}</td>
                        <td><a href="{{ path('app_task_show', {'id': task.id }) }}"><b>{{ task.title }}</b></a><br>
                            {{ task.dueDate|date("Y-m-d") }}</td>

                        <td>
                            <a href="{{ path('app_task_edit', {id: task.id}) }}">edit</a> |
                            <a href="{{ path('app_task_remove', {id: task.id}) }}" class="text-danger">usuń</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>


            <div class="card">
                <div class="card-body">
                    <button type="submit" id="btn_group_action_delete" class="btn btn-danger">Usuń</button>
                    <button type="submit" id="btn_group_action_done" class="btn btn-primary">Wykonane</button>
                </div>
            </div>


        </div>
    </form>





</div>



<script>

function doGroupAction(event, type_action) {

    const task_checkboxes = document.querySelectorAll('input[name="task[]"]:checked')

    if (task_checkboxes.length === 0) {
        alert('Zaznacz przynajmniej jedno zadanie');
        event.preventDefault()

    } else {
        document.getElementById('group_action_name').value = type_action
    }

}

document.getElementById('btn_group_action_delete').addEventListener('click', function(event) {
    doGroupAction(event, 'delete')
});
document.getElementById('btn_group_action_done').addEventListener('click', function(event) {
    doGroupAction(event, 'done')
});
</script>

{% endblock %}
