{% extends 'base.html.twig' %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h2>{{ pageTitle }} ✅</h2>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ product.price }}</h6>

                <h6 class="card-subtitle mb-2 text-muted">kategoria: {{ product.category.name | default("brak kategori") }}</h6>

                <p class="card-text">{{ product.description }}</p>
                <a href="{{ path('app_product_edit', {id: product.id}) }}" class="card-link">Edytuj</a>
                <a href="{{ path('app_product_remove', {id: product.id}) }}" class="card-link text-danger">Usuń</a>
            </div>
        </div>

        <p>
            <a href="{{ path('app_products_list') }}">Powrót do listy</a>
        </p>


    </div>
{% endblock %}
